*,
*:after,
*:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  font-family: "Open Sans", Arial, sans-serif;
  color: #444;
}
input,
button,
textarea {
  font-family: inherit;
}
body {
  background-color: #f7fafb;
  margin: 0 auto;
}
img {
  border: none;
  max-width: 100%;
}
a {
  color: #009ae0;
  display: inline-block;
}

body {
  background-color: #181818;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}
::selection {
  background: rgb(137 206 221 / 50%);
}
.cosmos-container.cosmos-content {
  background-color: #181818;
  color: white;
}
.cosmos-header h1.cosmos-header__title {
  color: white;
}
.alura-logo-header {
  position: absolute;
  top: 0;
  right: 1080px;
}
.class-top-header {
  background-color: #292b2b;
  margin-bottom: 15px;
  width: 100%;
}
.class-top-header__image {
  background-image: url(/img/alura-logo.png);
  height: 100%;
}
.cosmos-container.--class,
.cosmos-container.cosmos-header,
.cosmos-container.cosmos-content {
  max-width: 997px;
}
.cosmos-container.cosmos-content blockquote {
  color: inherit;
}
.socials .cosmos-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
}
.cosmos-container .cosmos-header-info {
  display: none;
}
.class-navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.class-navigation__class {
  color: #e6f8fb;
  background-color: #292b2b;
  width: 49%;
  position: relative;
  padding: 25px 10px;
  margin-bottom: 10px;
  text-decoration: none;
}
.class-navigation__class.--active {
  background-color: #3c86f9;
}
.class-navigation__class__title {
  font-size: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-left: 5px;
  height: 100%;
}
.class-navigation__class__title:before {
  content: "";
  display: block;
  background-image: url(/img/alura-logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 13px;
  height: 17px;
  margin-right: 10px;
  -webkit-box-flex: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.--active .class-navigation__class__title:before {
  content: "";
  display: block;
  background-image: url(/img/alura-logo.svg);
  background-size: contain;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.class-navigation__class__status {
  color: #677174;
  position: absolute;
  right: 10px;
  top: 10px;
}
.class-navigation__class__status {
  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;
  padding: 2px 5px;
}
.--active .class-navigation__class__status {
  background-color: #e6f8fb;
  color: #3c86f9;
}
.class-last-day {
  background-color: #072149;
  color: #fff;
  font-size: 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 50px;
  margin-bottom: 10px;
}
.cosmos-header__container {
  border-left: solid 13px #3c86f9;
  padding: 10px 0 10px 10px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Open Sans", Arial, sans-serif;
}
.cosmos-header h1.cosmos-header__title {
  font-size: 17px;
  font-family: "Open Sans", Arial, sans-serif;
}
.cosmos-header__title,
.lives-video__title,
.instructor__title {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: normal;
  margin-top: 5px;
  color: #fff;
}
h3.cosmos-header__class {
  font-size: 23px;
  text-transform: uppercase;
}
.cosmos-container.cosmos-content {
  background: #f8f8f8;
  color: #474b4c;
  padding: 20px;
  font-size: 16px;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 26px;
}
.cosmos-container.cosmos-content p,
.cosmos-container.cosmos-content h2,
.cosmos-container.cosmos-content ul {
  padding: 0 20px;
}
.cosmos-container.cosmos-content p:first-letter {
  padding-left: 18px;
}
.cosmos-container.cosmos-content p:first-letter::selection {
  background: rgb(137 206 221 / 50%);
}
.cosmos-container.cosmos-content h2 {
  font-size: 20px;
}
.expired-warning {
  background-color: #fff3cd;
  border: solid 1px #ffecb5;
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
  margin: 30px 0 0;
  color: #664d03;
}
.expired-warning__highlight {
  font-weight: bold;
}
.expired-warning__link {
  font-weight: bold;
  color: #664d03;
}
.socials__link {
  width: 100%;
  color: #fff;
  border-radius: 8px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-size: 16px;
  margin: 5px;
}
.socials__link__text {
  padding-left: 16px;
  font-size: 16px;
}
.--default {
  background-color: #7e93de;
}
.--default:before {
  content: "";
  display: block;
  background-image: url(/img/alura-logo.svg);
  width: 30px;
  height: 24px;
}
.--discord {
  background-color: #7e93de;
}
.--discord:before {
  content: "";
  display: block;
  background-image: url(https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png);
  width: 38px;
  height: 27px;
}
.--telegram {
  background-color: #1e95d1;
}
.--telegram:before {
  content: "";
  display: block;
  background-image: url(/img/alura-logo.svg);
  width: 36px;
  height: 30px;
}
.--faq {
  background-color: #7b8093;
}
.--faq:before {
  content: "";
  display: block;
  background-image: url(/img/alura-logo.svg);
  width: 36px;
  height: 30px;
}
.logo-area {
  margin: 20px 0;
}
.imersao-logo {
  margin: 0 auto;
  text-align: center;
}
.logo-area__footer .imersao-logo img {
  height: 130px;
}
.logo-area__header .imersao-logo {
  max-width: 287px;
  margin: 70px auto;
}
.footer {
  background-image: url(/img/alura-logo.svg);
  height: 387px;
  width: 100%;
}
.lives,
.instructors {
  margin: 50px 0 40px;
}
.lives-video {
  position: relative;
}
.lives-video__link {
  text-decoration: none;
  margin: 20px 25px 0 0;
  width: 90%;
}
.lives-video__name {
  color: #474b4c;
  font-size: 16px;
  font-weight: 600;
}
.lives-video__type {
  color: #3c86f9;
  font-weight: 800;
  font-size: 15px;
  margin-top: 10px;
  text-transform: uppercase;
  display: inline-block;
}
.lives-video__image {
  display: block;
  width: 100%;
  position: relative;
}
.lives-video__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.instructor__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  margin: 40px 0 0 0;
}
.lives--video__main > .cosmos-elasticMedia-container {
  margin-bottom: 0;
}
.cosmos-elasticMedia-container.--expired {
  background: #06224c;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  padding: 10px;
  width: 100%;
  height: 400px;
}
.cosmos-elasticMedia-container.--expired .cosmos-expired__img {
  width: 150px;
  margin-bottom: 10px;
}
.cosmos-elasticMedia-container.--expired .cosmos-expired__title:after {
  content: "_";
}
.cosmos-elasticMedia-container.--expired .cosmos-expired__text {
  padding: 0;
  text-align: center;
}
.cosmos-elasticMedia-container.--expired .cosmos-expired__link {
  color: #3c86f9;
}
.instructor__name {
  font-size: 21px;
}
.instructor {
  text-align: left;
  padding: 15px 23px;
  border: 2px solid #444;
  width: 100%;
  margin: 0 20px 20px 0;
  height: 155px;
}
.instructor__picture {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  box-shadow: 5px 3px 0 0 #3c86f9;
  margin-bottom: 10px;
}
.instructor__socials__twitter {
  width: 20px;
  height: 20px;
  background-image: url(/img/alura-logo.svg);
  background-size: contain;
  margin: 10px 5px;
}
.instructor__socials__instagram {
  width: 20px;
  height: 20px;
  background-image: url(/img/alura-logo.svg);
  background-size: contain;
  margin: 10px 5px;
}
.instructor__socials__linkedin {
  width: 20px;
  height: 20px;
  background-image: url(/img/alura-logo.svg);
  background-size: contain;
  margin: 10px 5px;
}
.socials {
  background: #2a2b2b;
  padding: 40px 24px;
  margin: 50px 0;
}
.class-navigation__class,
.socials {
  background-color: #072149;
}
.lives-video__name {
  color: white;
}
.logo-area__header .imersao-logo.imersao-dados {
  max-height: 150px;
  max-width: 197px;
}
.alura-logo-header {
  background-color: #167bf7;
  border-radius: 2px;
  padding: 0.5rem;
}
.logo-img {
  width: 3rem;
}
.class-navigation__class__title {
  font-size: 13px;
  margin-top: 5px;
}
.--livechat {
  display: none;
}
.--redirect {
  display: block;
  text-align: center;
  margin: 20px 0 0;
}
.instructor {
  border: 2px solid #021431;
  background-color: #021431;
}
.instructor__bio,
.instructor__title,
.cosmos-header__class {
  color: white;
}
.instructor__socials__twitter {
  width: 20px;
  height: 20px;
  background-image: url(/img/alura-logo.svg);
  background-size: contain;
  margin: 10px 5px;
}
.instructor__socials__instagram {
  width: 20px;
  height: 20px;
  background-image: url(/img/alura-logo.svg);
  background-size: contain;
  margin: 10px 5px;
}
.instructor__socials__linkedin {
  width: 20px;
  height: 20px;
  background-image: url(/img/alura-logo.svg);
  background-size: contain;
  margin: 10px 5px;
}
.cosmos-border {
  border-top: 5px solid #167bf7;
}
.lives-video__image {
  display: none;
  margin-bottom: 1rem;
}
.lives-video__name {
  margin-bottom: 1rem;
}
.class-navigation__class {
  min-height: 7.9em;
}
.cosmos-container-cod .cosmos-content pre {
  overflow: auto;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  overflow-y: hidden;
  font-size: 0.8em;
  line-height: 1.7em;
  padding: 0 0 0 2em;
  color: #333;
  margin-bottom: 1em;
  background-color: #072149;
}
.cosmos-content .hljs {
  font-size: 0.85rem;
  line-height: 1.7em;
  display: block;
  overflow-x: auto;
  padding: 1em 1em 1em 1.5em;
  color: #fff;
  background: transparent;
  border-left: solid 1px rgb(255 255 255 / 10%);
}
@media (min-width: 520px) {
  .instructor__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
  }
}
@media (min-width: 600px) {
  .class-navigation {
    -webkit-box-pack: center;
    justify-content: center;
  }
  .class-navigation__class {
    width: 32%;
    margin: 0 3px 6px;
  }
  .socials__link {
    width: 49%;
  }
  .cosmos-container.cosmos-content p,
  .cosmos-container.cosmos-content h2,
  .cosmos-container.cosmos-content ul {
    padding: 0 100px;
  }
  .instructor {
    width: 46%;
  }
  .lives-video__link {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .alura-logo-header {
    margin-left: -8rem;
  }
  .lives-video__image {
    display: block;
  }
  .instructor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  .lives-video__link {
    max-width: 270px;
  }
  .lives-video:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 30px solid #3c86f9;
    position: absolute;
    top: 4.3em;
    left: calc(50% - 8px);
    z-index: 3;
  }
  .cosmos-elasticMedia-container.--expired .cosmos-expired__title {
    font-size: 32px;
  }
}
@media (min-width: 800px) {
  .cosmos-container.cosmos-header,
  .cosmos-container.cosmos-content,
  .lives,
  .instructors {
    padding-right: 24px;
    padding-left: 24px;
  }
}
@media (min-width: 810px) {
  .class-navigation {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
  }
  .class-navigation__class {
    width: 100%;
    margin: 0;
  }
  .cosmos-elasticMedia-container,
  .cosmos-container.cosmos-content {
    text-align: justify;
    width: 100%;
    padding-right: 280px;
    margin-top: 20px;
  }
  .cosmos-container.cosmos-content p,
  .cosmos-container.cosmos-content h2,
  .cosmos-container.cosmos-content ul {
    padding: 0;
  }
  .cosmos-container.cosmos-content ul {
    margin-left: 50px;
  }
  .cosmos-container.cosmos-content li:last-child {
    margin-bottom: 45px;
  }
  .carreira-tech.class-navigation {
    grid-template-columns: repeat(4, 1fr);
  }
  .class-navigation__class {
    min-height: 7.5em;
  }
}
@media (min-width: 900px) {
  .cosmos-container.cosmos-header {
    padding: 3em 0;
  }
}
@media (min-width: 910px) {
  .socials__link {
    width: 32%;
  }
}
@media (min-width: 1024px) {
  .cosmos-container.cosmos-content {
    color: #fff;
  }
  .cosmos-container-cod .cosmos-content a {
    color: #22baff;
  }
  .instructor {
    width: 30%;
  }
  .instructor {
    width: 22%;
  }
  .instructor__name {
    font-size: 14.5px;
  }
  .instructor__bio {
    font-size: 13px;
  }
  .cosmos-container.cosmos-header::before {
    content: "";
    display: inline-block;
    background-image: url(/img/alura-logo.svg);
    background-repeat: no-repeat;
    height: 150px;
    width: 50px;
    position: absolute;
    left: -100px;
  }
  body {
    background-color: #060b37;
    background-image: linear-gradient(to top, #182131 84%, #09286b 196%);
  }
  .body__wrapper {
    position: relative;
    background-image: linear-gradient(to top, #182131 84%, #09286b 196%);
    z-index: 5;
  }
  .body__wrapper:before {
    background-image: url(/img/alura-logo.svg);
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-position: top 40% center;
    background-repeat: no-repeat;
    mix-blend-mode: overlay;
    z-index: -1;
  }
  .cosmos-container.cosmos-content.lives--video__main.imersao-react-2 {
    background-image: url(/img/alura-logo.svg),
      url(/img/alura-logo.svg);
    background-repeat: no-repeat;
    background-size: 100%, 5px;
    background-position: center, right bottom;
    padding: 2rem 0;
  }
  .cosmos-elasticMedia-container,
  .cosmos-container.cosmos-content {
    background-color: transparent;
  }
  .dados-icon:after {
    content: "";
    display: inline-block;
    background-image: url(/img/alura-logo.svg);
    background-repeat: no-repeat;
    height: 150px;
    width: 190px;
    position: absolute;
    right: 0;
  }
  .cosmos-container-cod {
    background-image: url(/img/alura-logo.svg);
    background-repeat: no-repeat;
    background-position: left;
    position: relative;
  }
  .cosmos-container-cod::after {
    content: "";
    display: inline-block;
    background-image: url(/img/alura-logo.svg);
    background-repeat: no-repeat;
    width: 290px;
    background-position: right;
    position: absolute;
    right: 0;
    bottom: 5px;
    height: 190px;
  }
  .imersao-line {
    position: relative;
  }
  .imersao-line:after {
    content: "";
    display: inline-block;
    background-image: url(/img/alura-logo.svg);
    background-repeat: no-repeat;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: absolute;
    right: 172px;
    top: -43px;
    width: 10px;
    height: 150px;
  }
  .cosmos-container-spacing {
    width: 55rem;
  }
  .cosmos-container.cosmos-header {
    padding: 3rem 0 0 0;
  }
}

body {
  max-width: 500px;
  min-width: 320px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}
@media (min-width: 1px) {
  body {
    max-width: none;
  }
}
.container {
  padding-right: 16px;
  padding-left: 16px;
}
@media (min-width: 550px) {
  .container {
    padding-right: 25px;
    padding-left: 25px;
  }
}
@media (min-width: 750px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (min-width: 1000px) {
  .container {
    padding-right: 40px;
    padding-left: 40px;
    max-width: 1280px;
  }
}
@media (min-width: 1280px) {
  .container {
    padding-right: 0;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
  }
}
main {
  min-height: 60vh;
}
.unlinkify {
  color: inherit;
  text-decoration: none;
}
.old-browser {
  background-color: #2a7ae4;
  text-align: center;
  line-height: 1.4;
  padding: 8px;
}

.buttonLight {
  background: transparent;
  border: 2px solid currentColor;
  color: #4dba7a;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  padding: 0.5rem 1.2rem;
  -webkit-transition: color 300ms, background-color 300ms;
  transition: color 300ms, background-color 300ms;
  cursor: pointer;
}
@media (min-width: 1000px) {
  .buttonLight {
    padding: 15px 60px;
  }
}
.buttonLight:hover {
  background-color: #4dba7a;
  color: #fff;
}
.buttonForm {
  border: none;
  background: #fff;
  color: #9898a6;
  font-size: 0.8125em;
  font-weight: bold;
  text-align: center;
  border: 2px solid #9898a6;
  height: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  vertical-align: middle;
  cursor: pointer;
  -webkit-transition: color 0.5s, background-color 0.5s;
  transition: color 0.5s, background-color 0.5s;
  border-left: none;
}
.buttonForm:hover {
  background-color: #9898a6;
  color: #fff;
}
